{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('./Shop.css')}}">
<link rel="stylesheet" href="{{asset('./Car_Details.css')}}">
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="assets/css/fontawesome.css">
<link rel="stylesheet" href="{{asset('./assets/fontawesome.css')}}">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Car2Go - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    

  </head>

{% endblock %}
{% block title %}{{car.name}}{% endblock %}

{% block body %}

<nav>
    <div class="nav-container">
        <div class=" logo">
            <a class="navbar-brand" href="{{path('home')}} " id="log" >Car<span style="color: #F8CD57;">2</span>go</a>
        </div>

        <div class="else">
            <a href="{{path('home')}}" class="" id="st">Home</a>
            <a href="{{path('contact')}}" class="nav-element">Contact Us</a>
            {% if app.user %}
            <a href="{{path('app_logout')}}" class="nav-element">Log Out</a>
            <a href="{{path('car')}}" class="nav-element shop-button">Shop Now</a>
            {% else %}
            <a href="{{path('app_login')}}" class="nav-element">LOGIN</a>
            <a href="{{path('register')}}" class="nav-element shop-button">Register Now</a>
            {% endif %}
            
        </div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

    </div>
</nav>
<style>
    body{
        font-style: Futura PT;
    }
    .navbar-toggler{
        display: none;
    }
    .car-footer{
        margin-top: 15%;
    }
    .back-link {
        margin-right: 250px;
    }
    .nav-element:first-child {
    margin-left: 0;
}
.nav-container{
    width: 100%;
    justify-content: space-between;
    height: 80px;
}
.else{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content:right;
}
.logo{
    /* margin-right:50% ; */
    margin-left: 0.7%;
}
#log{
    text-decoration: none;
    /* margin-left: -50%; */
    margin-right: auto;
    outline: none;
    font-family: Futura PT;
    color: white;
    font-weight: 800;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    font-weight: 800;
}
#log span{
    font-size: 36px;
    font-family: Futura PT;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    font-weight: 800;
    margin-left: 0;
}
.nav-element{
    margin-right: 1%;
}
#st{
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin-top: 5px;
    width: fit-content ;
    margin-right: 7%;


}

    .nav-container a{
        width: fit-content ;
        margin-right: 7%;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 0.9rem;
        font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin-top: 5px;
    }
    .shop-button{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.25rem;
        height: 50%;
        width: 15% !important;
        background-color: #ffc107;
        color: #212529 !important;
        margin-right: 5%;
        margin-bottom: 1%;
        
    }
    .detail-grid{
        width: 100%;
    }
</style>

<div class="detail-grid">
        <div class="car_img">
            <img src="{{asset('./images/car-details.png')}}" alt="">
        </div>
        <div class="car-content">
            <div class="car-header">
                <h1 class="car-text">{{car.marque}}, {{car.name}}</h1>
                <span class="car-price">£{{car.prix}}</span>
            </div>
            <p class="car-description">{{car.shortDesc}}</p>
            <div class="car-options">
                <div class="car-elements">
                    
                    <div class="car-element-aligment">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 28.5C2 28.8978 2.15804 29.2794 2.43934 29.5607C2.72064 29.842 3.10218 30 3.5 30H28.5C28.8978 30 29.2794 29.842 29.5607 29.5607C29.842 29.2794 30 28.8978 30 28.5V12H2V28.5Z" fill="#404040"/>
                            <path d="M30 5.48562C29.9998 5.28939 29.9607 5.09513 29.885 4.91406C29.8094 4.73298 29.6987 4.56867 29.5592 4.43057C29.4198 4.29248 29.2544 4.18334 29.0726 4.10944C28.8909 4.03555 28.6962 3.99835 28.5 4H25.005V2H22.005V4H9.995V2H6.995V4H3.5C3.30377 3.99835 3.10915 4.03555 2.92735 4.10944C2.74556 4.18334 2.58018 4.29248 2.44075 4.43057C2.30132 4.56867 2.1906 4.73298 2.11495 4.91406C2.03931 5.09513 2.00024 5.28939 2 5.48562V9H30V5.48562Z" fill="#404040"/>
                            </svg>
                             <span>
                                 {{ car.annee }}
                             </span>
                    </div>
                </div>
                <div class="car-elements">
                    <div class="car-element-aligment">
                       
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 3C7.71628 3 1.00003 9.78438 1.00003 18.16C0.992191 21.8584 2.33249 25.4329 4.77003 28.2144C4.84378 28.2956 4.91066 28.3769 4.98441 28.4513C5.57503 29 5.75441 29 6.22316 29C6.69191 29 7.00003 29 7.46878 28.445C9.50003 26.04 12.625 25 16 25C19.375 25 22.5044 26.0444 24.5313 28.445C25 29 25.3013 29 25.7769 29C26.2525 29 26.4832 29 27.0157 28.4513C27.0919 28.3731 27.1563 28.2956 27.23 28.2144C29.6676 25.4329 31.0079 21.8584 31 18.16C31 9.78438 24.2838 3 16 3ZM15 7H17V11H15V7ZM9.00003 19H5.00003V17H9.00003V19ZM10.3432 13.7575L7.51503 10.9288L8.92878 9.515L11.7575 12.3431L10.3432 13.7575ZM17.4125 19.2125C17.2911 19.3808 17.1434 19.5285 16.975 19.65C16.5687 19.9335 16.0669 20.0453 15.5786 19.9611C15.0903 19.8769 14.655 19.6036 14.367 19.2004C14.079 18.7972 13.9616 18.2967 14.0404 17.8075C14.1191 17.3184 14.3876 16.88 14.7875 16.5875L20 14L17.4125 19.2125ZM20.2425 12.3431L23.0713 9.515L24.485 10.9288L21.6569 13.7575L20.2425 12.3431ZM27 19H23V17H27V19Z" fill="#404040"/>
                    </svg>
    
                             <span>
                                {{car.boite}}
                             </span>
                    </div>
                </div>
                <div class="car-elements">
                    <div class="car-element-aligment">
                                        
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.5 14C30.3125 13.6875 28.4619 12.8881 28.4619 12.8881C28.7838 12.7219 29.0037 12.6875 29.0037 12C29.0037 11.25 29 11 28.5 11H26.8037C26.7969 10.985 26.7894 10.9694 26.7825 10.9537C25.6875 8.5625 25.5406 7.95812 23.9075 7.14437C21.7169 6.055 17.61 6 16 6C14.39 6 10.2831 6.055 8.09437 7.14437C6.45937 7.95687 6.5 8.375 5.21938 10.9537C5.21938 10.9606 5.20625 10.9788 5.19438 11H3.49625C3 11 2.99625 11.25 2.99625 12C2.99625 12.6875 3.21625 12.7219 3.53813 12.8881C3.53813 12.8881 1.75 13.75 1.5 14C1.25 14.25 1 16 1 19C1 22 1.25 25 1.25 25H1.99625C1.99625 25.875 2.125 26 2.5 26H7.5C7.875 26 8 25.875 8 25H24C24 25.875 24.125 26 24.5 26H29.625C29.875 26 30 25.8125 30 25H30.75C30.75 25 31 21.9375 31 19C31 16.0625 30.6875 14.3125 30.5 14ZM7.82875 16.8088C6.69045 16.9332 5.54633 16.997 4.40125 17C3.125 17 3.08125 17.0819 2.99125 16.285C2.95739 15.9203 2.9681 15.5528 3.02312 15.1906L3.0625 15H3.25C4 15 4.70438 15.0319 6.03438 15.4237C6.71083 15.6267 7.34708 15.9452 7.915 16.365C8.1875 16.5625 8.25 16.75 8.25 16.75L7.82875 16.8088ZM23.2763 21.3088L23 22H9C9 22 9.02437 21.9619 8.6875 21.3013C8.4375 20.8125 8.75 20.5 9.24438 20.3225C10.2019 19.9775 13 19 16 19C19 19 21.8538 19.8425 22.7812 20.3225C23.125 20.5 23.5519 20.625 23.2763 21.3125V21.3088ZM7.21375 12.7756C7.01187 12.7873 6.80953 12.7887 6.6075 12.78C6.77063 12.49 6.86125 12.1669 7.02063 11.8294C7.52063 10.7669 8.0925 9.56437 9.11063 9.0575C10.5819 8.325 13.6313 7.995 16 7.995C18.3687 7.995 21.4181 8.3225 22.8894 9.0575C23.9075 9.56437 24.4769 10.7675 24.9794 11.8294C25.14 12.17 25.2294 12.4956 25.3969 12.7875C25.2719 12.7944 25.1281 12.7875 24.785 12.7756H7.21375ZM28.9463 16.2825C28.8125 17.0625 28.9375 17 27.5987 17C26.4537 16.997 25.3096 16.9332 24.1712 16.8088C23.9931 16.7769 23.9425 16.4762 24.085 16.365C24.65 15.9405 25.2872 15.6216 25.9656 15.4237C27.2956 15.0319 28.0444 14.9794 28.7838 15.0056C28.8334 15.0075 28.8806 15.0277 28.9163 15.0623C28.9519 15.097 28.9735 15.1435 28.9769 15.1931C29.0122 15.5569 29.0019 15.9237 28.9463 16.285V16.2825Z" fill="#404040"/>
                        </svg>
                        
                             <span>
                                {{car.portes}} doors
                             </span>
                    </div>
                </div>
                <div class="car-elements">
                    <div class="car-element-aligment">
                        
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.9375 6.20563L24.625 1H7.40314L7.06251 6.20375C6.98189 7.40625 6.92314 8.275 7.29564 10.3075C7.40001 10.8769 7.62189 11.7238 7.90376 12.7963C8.69189 15.7963 10.0106 20.8188 10.0106 25.0231V31H21.9906V25.0238C21.9906 20.2056 23.3225 15.4431 24.1156 12.5981C24.3894 11.6213 24.605 10.8481 24.7038 10.3094C25.0794 8.2775 25.0206 7.40812 24.9375 6.20563ZM9.13939 5L9.26439 3H22.7344L22.8594 5H9.13939Z" fill="#404040"/>
                        </svg>
                        
                             <span>
                                {{car.carburant}}
                             </span>
                    </div>
                </div>
            </div>
            <div class="car-footer">
                
           <div class="back-link-flex" style="margin-left: 3%;">
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96616 2.25005L3.21616 9.00005L9.96616 15.75L8.37517 17.341L0.0341797 9.00005L8.37517 0.659058L9.96616 2.25005Z" fill="#0C0C0C"/>
                </svg>
    
                <a href="{{path('car')}}" class="back-link" style="margin-right: 200px;"> Go back</a>
           </div>
                <button class="Buy-button-details">Buy Now</button>
            </div>
        </div>
    </div>
    <nav>
        <div class="nav-container" style="margin-top: 10%;">
            <style>
                
            </style>
            <div class=" logo" style="align-items: center; height: 100%; width: 28%;">
                <a class="navbar-brand" href="{{path('home')}} " id="log" style="margin-top: 0;" >Car<span style="color: #F8CD57;">2</span>go</a>
                <p style="color: white; width: max-content;margin: 0;">© 2021 - Car2go, All rights reserved.</p>
            </div>
    
            <div class="else">
                <a href="{{path('home')}}" class="" id="st"><svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z" fill="white"/>
                    <path d="M34.6297 13.3086C31.809 10.4849 28.0586 8.92937 24.0626 8.92749C15.8299 8.92749 9.12787 15.628 9.12525 23.8641C9.12375 26.4974 9.81187 29.0672 11.1187 31.3315L9 39.0722L16.9181 36.9955C19.1003 38.1846 21.5565 38.812 24.0566 38.8131H24.063C32.2957 38.8131 38.9966 32.1115 39 23.8757C39.0019 19.885 37.449 16.132 34.6297 13.3086ZM24.063 36.2901H24.0581C21.8295 36.2894 19.6447 35.6909 17.7382 34.5599L17.2849 34.2906L12.5861 35.5232L13.8397 30.9422L13.5446 30.4712C12.3015 28.495 11.6449 26.2109 11.6464 23.8641C11.6486 17.0192 17.2185 11.4501 24.0668 11.4501C27.3833 11.4509 30.4999 12.7442 32.8444 15.0914C35.1885 17.4381 36.4785 20.557 36.4778 23.8746C36.4755 30.7206 30.9056 36.2901 24.063 36.2901ZM30.873 26.992C30.4995 26.8049 28.6646 25.903 28.3223 25.7774C27.9799 25.6529 27.732 25.591 27.483 25.9645C27.234 26.338 26.5189 27.1791 26.3006 27.4281C26.0831 27.6771 25.8656 27.7086 25.4921 27.5215C25.1186 27.3344 23.9164 26.9406 22.4918 25.6686C21.3818 24.6797 20.6325 23.4565 20.415 23.083C20.1975 22.7095 20.3917 22.5081 20.5789 22.3217C20.7469 22.1545 20.9524 21.886 21.1388 21.6677C21.3251 21.4495 21.3874 21.2939 21.5119 21.0452C21.6364 20.7962 21.5745 20.5784 21.4808 20.3916C21.387 20.2045 20.6407 18.3674 20.3302 17.62C20.0269 16.8921 19.7194 16.9907 19.4906 16.9795C19.2724 16.969 19.0238 16.966 18.7751 16.966C18.5265 16.966 18.1219 17.0594 17.7799 17.4332C17.4382 17.8067 16.4738 18.7094 16.4738 20.5472C16.4738 22.384 17.811 24.1592 17.9977 24.4079C18.1845 24.6565 20.6295 28.4271 24.3735 30.0437C25.2638 30.4277 25.9594 30.6576 26.5012 30.8301C27.3952 31.1147 28.209 31.0739 28.8525 30.9779C29.5695 30.871 31.0605 30.0752 31.3721 29.2034C31.683 28.3319 31.683 27.5849 31.5889 27.4289C31.4947 27.2725 31.2458 27.1791 30.873 26.992Z" fill="#0C0C0C"/>
                    </svg>
                    
                    </a>
                <a href="{{path('contact')}}" class="nav-element"><svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z" fill="white"/>
                    <path d="M30.0336 24.9395H25.7511V40.6286H19.2628V24.9395H16.1769V19.4257H19.2628V15.8576C19.2628 13.3061 20.4748 9.31067 25.8089 9.31067L30.615 9.33078V14.6828H27.1279C26.5559 14.6828 25.7516 14.9686 25.7516 16.1858V19.4308H30.6005L30.0336 24.9395Z" fill="#0C0C0C"/>
                    </svg>
                    </a>
                <a href="{{path('app_logout')}}" class="nav-element"><svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="24" fill="#0C0C0C"/>
                    <path d="M31.1532 12.7704H16.847C14.5635 12.7704 12.7057 14.6282 12.7057 16.9117V31.2178C12.7057 33.5013 14.5635 35.3597 16.847 35.3597H31.1532C33.4366 35.3597 35.295 33.5019 35.295 31.2178V16.9117C35.295 14.6282 33.4372 12.7704 31.1532 12.7704ZM24.0001 31.5013C19.9 31.5013 16.5641 28.1654 16.5641 24.0648C16.5641 19.9647 19.9 16.6288 24.0001 16.6288C28.1007 16.6288 31.4366 19.9647 31.4366 24.0648C31.4366 28.1648 28.1002 31.5013 24.0001 31.5013ZM31.6756 18.1662C30.705 18.1662 29.9157 17.3769 29.9157 16.4068C29.9157 15.4368 30.705 14.6474 31.6756 14.6474C32.6457 14.6474 33.435 15.4368 33.435 16.4068C33.435 17.3769 32.6457 18.1662 31.6756 18.1662Z" fill="white"/>
                    <path d="M24 19.771C21.6331 19.771 19.7058 21.6972 19.7058 24.0641C19.7058 26.4321 21.6331 28.3589 24 28.3589C26.368 28.3589 28.2937 26.4321 28.2937 24.0641C28.2937 21.6978 26.3675 19.771 24 19.771Z" fill="white"/>
                    <path d="M24 0C10.7457 0 0 10.7457 0 24C0 37.2543 10.7457 48 24 48C37.2543 48 48 37.2543 48 24C48 10.7457 37.2543 0 24 0ZM38.4367 31.2178C38.4367 35.2345 35.1698 38.5014 31.1531 38.5014H16.8469C12.8308 38.5014 9.56331 35.2345 9.56331 31.2178V16.9116C9.56331 12.8955 12.8308 9.62802 16.8469 9.62802H31.1531C35.1698 9.62802 38.4367 12.8955 38.4367 16.9116V31.2178Z" fill="white"/>
                    </svg></a>

                
            </div>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    
        </div>
    </nav>
{% endblock %}


